# TODO: Update so the backend uses a docker netowrk to talk to the db
# maybe expose using traefik?
services:
  backend:
    build:
      context: ./back

    ports:
      - "8000:8000"

    develop:
      watch:
        - action: sync
          path: ./back
          target: /app
          # Ignore virtual environment if once is created
          ignore:
            - .venv/
            - ./back/.venv/

        - action: rebuild
          path: ./back/uv.lock

    depends_on:
      db:
        condition: service_healthy

#  frontend:
#    build:
#      context: ./api
#    depends_on:
#      - db
#    ports:
#      - 8080:8080
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/demo_db
#      SPRING_DATASOURCE_USERNAME: demo
#      SPRING_DATASOURCE_PASSWORD: demopassword

    # Spring Boot supports hot swapping
    # docs: https://docs.spring.io/spring-boot/how-to/hotswapping.html
    # TODO: Update this to the proper springboot path
    #develop:
#      watch:
#        - action: sync
#          path: ./api
#          target: /app
#
#        - action: rebuild
#          path: ./
#  
  db:
    image: docker.io/postgres:16
    environment:
      POSTGRES_DB: demo_db
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demopassword
    ports:
      - 5432:5432
    volumes:
      - dbdata:/var/lib/postgresql

    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=demopassword psql -h localhost -U demo -d demo_db -c 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  dbdata:

